$\textbf{Institut des Algorithmes du Sénégal}$

$\textbf{Introduction to Natural Langage Preprocessing (NLP)}$



This notebook contains functions required for text cleaning and processing pipeline in NLP problems. These are ready-to-use functions and use NLTK and SKlearn packages.

$\textbf{Import utils functions}$

In [19]:
# This Python 3 environment comes with many helpful analytics libraries installed
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import string as st
import re
from nltk import PorterStemmer, WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

$\textbf{Read the data. }$

In [3]:
data = pd.read_csv('spam_data.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.shape

(5572, 2)


$\textbf{Text cleaning and processing steps}$

    - Remove punctuations
    - Convert text to tokens
    - Remove tokens of length less than or equal to 3
    - Remove stopwords using NLTK corpus stopwords list to match
    - Apply stemming
    - Apply lemmatization
    - Convert words to feature vectors

In [5]:
# Remove all punctuations from the text

def remove_punct(text):
    return ("".join([ch for ch in text if ch not in st.punctuation]))

In [6]:
data['removed_punc'] = data['Message'].apply(lambda x: remove_punct(x))
data.head()

  Category  ...                                       removed_punc
0      ham  ...  Go until jurong point crazy Available only in ...
1      ham  ...                            Ok lar Joking wif u oni
2     spam  ...  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  ...        U dun say so early hor U c already then say
4      ham  ...  Nah I dont think he goes to usf he lives aroun...

[5 rows x 3 columns]

In [7]:
''' Convert text to lower case tokens. Here, split() is applied on white-spaces. But, it could be applied
    on special characters, tabs or any other string based on which text is to be seperated into tokens.
'''
def tokenize(text):
    text = re.split('\s+' ,text)
    return [x.lower() for x in text]

In [8]:
data['tokens'] = data['removed_punc'].apply(lambda msg : tokenize(msg))
data.head()

  Category  ...                                             tokens
0      ham  ...  [go, until, jurong, point, crazy, available, o...
1      ham  ...                     [ok, lar, joking, wif, u, oni]
2     spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      ham  ...  [u, dun, say, so, early, hor, u, c, already, t...
4      ham  ...  [nah, i, dont, think, he, goes, to, usf, he, l...

[5 rows x 4 columns]

In [9]:
# Remove tokens of length less than 3
def remove_small_words(text):
    return [x for x in text if len(x) > 3 ]

In [10]:
data['larger_tokens'] = data['tokens'].apply(lambda x : remove_small_words(x))
data.head()

  Category  ...                                      larger_tokens
0      ham  ...  [until, jurong, point, crazy, available, only,...
1      ham  ...                                           [joking]
2     spam  ...  [free, entry, wkly, comp, final, tkts, 21st, 2...
3      ham  ...                             [early, already, then]
4      ham  ...   [dont, think, goes, lives, around, here, though]

[5 rows x 5 columns]

In [11]:
''' Remove stopwords. Here, NLTK corpus list is used for a match. However, a customized user-defined 
    list could be created and used to limit the matches in input text. 
'''
def remove_stopwords(text):
    return [word for word in text if word not in nltk.corpus.stopwords.words('english')]

In [14]:
data['clean_tokens'] = data['larger_tokens'].apply(lambda x : remove_stopwords(x))
data.head()

  Category  ...                                       clean_tokens
0      ham  ...  [jurong, point, crazy, available, bugis, great...
1      ham  ...                                           [joking]
2     spam  ...  [free, entry, wkly, comp, final, tkts, 21st, 2...
3      ham  ...                                   [early, already]
4      ham  ...         [dont, think, goes, lives, around, though]

[5 rows x 6 columns]

Apply stemming to convert tokens to their root form. This is a rule-based process of word form conversion where word-suffixes are truncated irrespective of whether the root word is an actual word in the language dictionary.

Note that this step is optional and depends on problem type.

In [15]:
# Apply stemming to get root words 
def stemming(text):
    ps = PorterStemmer()
    return [ps.stem(word) for word in text]

In [16]:
data['stem_words'] = data['clean_tokens'].apply(lambda wrd: stemming(wrd))
data.head()

  Category  ...                                         stem_words
0      ham  ...  [jurong, point, crazi, avail, bugi, great, wor...
1      ham  ...                                             [joke]
2     spam  ...  [free, entri, wkli, comp, final, tkt, 21st, 20...
3      ham  ...                                   [earli, alreadi]
4      ham  ...           [dont, think, goe, live, around, though]

[5 rows x 7 columns]

Lemmatization converts word to it's dictionary base form. This process takes language grammar and vocabulary into consideration while conversion. Hence, it is different from Stemming in that it does not merely truncate the suffixes to get the root word

In [17]:
# Apply lemmatization on tokens
def lemmatize(text):
    word_net = WordNetLemmatizer()
    return [word_net.lemmatize(word) for word in text]

In [20]:
data['lemma_words'] = data['clean_tokens'].apply(lambda x : lemmatize(x))
data.head()

  Category  ...                                        lemma_words
0      ham  ...  [jurong, point, crazy, available, bugis, great...
1      ham  ...                                           [joking]
2     spam  ...  [free, entry, wkly, comp, final, tkts, 21st, 2...
3      ham  ...                                   [early, already]
4      ham  ...            [dont, think, go, life, around, though]

[5 rows x 8 columns]